VALKEY_HOST=localhost
VALKEY_PORT=6379
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/cinema
GOOSE_MIGRATION_DIR=./internals/postgres/migrations
GOOSE_TABLE=goose_db_version
SERVER_PORT=3000
